<template name="adminLayout">
<body>
	<div class="container">
		<header>
			<h1>Tests app</h1>
			<h4 class="color_1">Admin Pannel</h4>
		</header>
		<div class="form">
 			<form class="data-add">
       		 <input type="text" name="text" class="form-control" placeholder="Type test №">
       		 <input type="text" name="second" class="form-control" placeholder="Type hardness level">
       		 <input type="text" name="qty" class="form-control" placeholder="Type questions quantity">
       		 <button type="submit" class="btn btn-primary">Submit</button>
      	</form>
		</div>
	</div>
</body>
</template>
